body{
    padding: 100px; 
    background-image:
  
  url('images/bg.jpg');

  
}
.bg{
    opacity: 0.2;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    left: -5px; top: 0;
    margin: auto;
}

body .logo{
    width: 250px;
    height: 50px;
    position: absolute;
    left: 20px; top: 15px;
    
}
body .body-title{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}
.login-box{
    margin: auto;
    width: 60%;
   
    margin-top: 2%;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 8% 5%;
    box-shadow: 15px 15px 10px gray;
    border-style: none;
    background-color: rgba(224, 255, 255,0.9);
    
    
}
#tansaction-area{
    display: none;
}
.status{
    width: 100%;
    margin: 0 20px;
    color: white;
    border-radius: 20px;
    padding: 25px;
    height: 200px;
}
.status h2{
    font-size: 65px;
    font-weight: 900;
    text-align: center;

}
.deposit{
    background-color: slateblue;
    box-shadow: 5px 5px 10px grey;

}
.withdraw{
    background-color: lightsalmon;
    box-shadow: 5px 5px 10px grey;
}
.balance{
    
    background-color: orange;
    box-shadow: 5px 5px 10px grey;
}

.opinion{
    margin-top: 50px;
    padding:40px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;
    border-style: none;
    background-color: #ffffff;
}
.myopinion{
    margin-top: 4%;
}